name: ci
on:
  push:
    branches:
    - main
    - develop
    pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install basic dependencies
      run: |
        python -m pip install --upgrade pip
        pip install numpy

    - name: Dummy check
      run: echo "CI is working"
